In [1]:
# Some code fragments produce output, see the red "Out[?]" below - such fragments are called expressions.
5+2

7

In [2]:
# Other fragments produce no output. Such fragments are called statements. Not that there is no "Out[]" below this cell.
y=5+2

In [3]:
y

7

In [4]:
# If you want to see the value of x, just write x on another line, "x" is an "expression" and produces the value of x as output
y

7

In [5]:
# A cell only produces one output - that of the last expression in the cell
x  # value of x is not shown
y

NameError: name 'x' is not defined

In [6]:
x =5+2

In [7]:
# A cell only produces one output - that of the last expression in the cell
x  # value of x is not shown
y

7

In [8]:
# If you want to see several values, output them from different cells or use print()
# note that print() produces text, but it is not labeled as Out[] (why?)
print(x)
print(y)

7
7

In [1]:
# by convention numpy is always imported as np
import numpy as np

In [10]:
a = np.array([5, 2, 17])  # Convert a Python list into a numpy array
a

array([ 5,  2, 17])

In [11]:
# List of lists gets converted into a 2D array# List o 
np.array([[5, 7, 2],
          [9, 4, 1]])

array([[5, 7, 2],
       [9, 4, 1]])

In [12]:
a

array([ 5,  2, 17])

In [13]:
np.arange(5)  # Same as Python's range() but creates a numpy array

array([0, 1, 2, 3, 4])

In [14]:
np.zeros(5)  # Create a numpy array with five elements, all set to zero

array([0., 0., 0., 0., 0.])

In [15]:
c = np.ones(7)  # Create a numpy array with five elements, all set to 1
c

array([1., 1., 1., 1., 1., 1., 1.])

In [16]:
# Array of 6 random numbers between 0 and 1
np.random.rand(6)

array([0.786615  , 0.37772662, 0.63311415, 0.13625778, 0.14410614,
       0.01228269])

In [18]:
# array with 6 random ib = np.array([[5, 7, 2], [9, 4, 1]])
#integers between 0 and 100 (not including 100 as usual)
np.random.randint(100, size=6)

array([14, 60, 59, 99, 76, 52])

In [19]:
b = np.array([[5, 7, 2],
              [9, 4, 1]])
b

array([[5, 7, 2],
       [9, 4, 1]])

In [20]:
# The total number of elements
b.size

6

In [21]:
# number of dimensions
b.ndim

2

In [22]:
# array shape is a Python tuple, in this case it's (2, 3) because b is a 2 by 3 array.
b.shape

(2, 3)

In [23]:
# Data type of the array# Data t 
a.dtype

dtype('int32')

In [24]:
# Note that zeros byt default uses the float64 data type
z = np.zeros(7)
z.dtype

dtype('float64')

In [26]:
# But data type can be set explicitly, almost all numpy functions that create arrays take an optional dtype parameter
# Let's set it to an 8 bit integer
z = np.zeros(7, dtype=np.int8)  
z.dtype

dtype('int8')

In [27]:
# Exercises lecture 2
# 1 - Convert a list into a numpy array
lst = [5, 3, 8, 4]
lst

[5, 3, 8, 4]

In [28]:
lst =np.array([5,3,8,4])

In [29]:
lst

array([5, 3, 8, 4])

In [30]:
#2- What happens when you multiply a list by 3, what a about an array multiplied by 3?
result = np.multiply(lst,3)

In [31]:
result

array([15,  9, 24, 12])

In [32]:
# 3- Create an array of 10 ones
z =np.zeros(10)

In [33]:
z

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [36]:
# 4-Create an array of 10 fives
ones = np.ones(10)
fives = np.multiply(ones,5)
fives

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [39]:
# 5 - Create an array of the integers from 10 to 50 (including 50)
x =np.arange(10,51)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [13]:
# 5- Create an array of 10 random numbers between 0 and 5 (not integers)
np.random.rand(10)

array([0.45604695, 0.03924575, 0.30399383, 0.57686372, 0.61971376,
       0.98906618, 0.04004127, 0.21985406, 0.43554188, 0.91979401])

In [49]:
# 6 - Read the help for np.linspace function and create an array of 11 evenly spaced elements between 0 and 2
np.linspace(0, 2, num=11)

array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ])

In [57]:
# 7- Create a 3 by 4 array of ones
x = np.array([np.ones(4),np.ones(4),np.ones(4)])
x

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [58]:
# 8 -Create a 3 by 4 array of fives
x = np.array([np.ones(4),np.ones(4),np.ones(4)])
fives = np.multiply(x,5)
fives

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

In [64]:
# 9- Create a 3x3 matrix with values ranging from 0 to 8 (use reshape)
np.reshape?
x = np.arange(9)
s = np.reshape(x,(3,3))
s
# or x= np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [14]:
a = np.arange(10,21)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [15]:
m = np.arange(1,22).reshape((3,7))
m

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

In [20]:
# 10 - the first 4 elements of a
a[:4]

array([10, 11, 12, 13])

In [70]:
# 11 - the last 3 elements of a
a[8:]

array([18, 19, 20])

In [75]:
# 12 - The middle elements of a from 15 to 18 inclusive
a[5:9]

array([15, 16, 17, 18])

In [83]:
# 13 - The first column of m
m[:, 0]

array([ 1,  8, 15])

In [24]:
# first row of m
m[0,:]

array([1, 2, 3, 4, 5, 6, 7])

In [30]:
# 14 - The middle row of m
m[1,:]

array([ 8,  9, 10, 11, 12, 13, 14])

In [8]:
# 15 - The left 3 columns of m
m[0:3,0:3]

array([[ 1,  2,  3],
       [ 8,  9, 10],
       [15, 16, 17]])

In [12]:
# 16 -The bottom-right 2 by 2 square
m[1:3,5:7]

array([[13, 14],
       [20, 21]])

In [14]:
# 17 - every other element of a
a[::2]

array([10, 12, 14, 16, 18, 20])

In [15]:
# 18 -Subtract 5 from each element of a
s = a-5
s

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [30]:
# 19 - Create an array containing squares of all numbers from 1 to 10 (inclusive)
square = np.arange(1,11)
square2 = (square*square)
square2

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [27]:
Create an array containing all powers of 2 from $2^0$ to $2^{10}$ (inclusive)

SyntaxError: invalid syntax (<ipython-input-27-eb3f5c1cb16f>, line 1)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
np.arange()